.registro{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 10px;
    min-height: 460px;
}

.registrpform{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 10px ;
    justify-items: center;
    
}

.btregi{

   
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    border: 5px;
    border-radius: 5px;
    background-color: #64db6a;
    color: white;
    max-width: 300px;
    max-height:50px ;

}

.inputregi{
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #000;
    cursor: pointer;
    border: 5px;
    border-radius: 5px;
    background-color: #64db6a;
    max-width: 300px;
    max-height:50px ;
}