
.inner-container {
    max-width: 450px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    display: grid;
    gap: 10%;
}
.header {
    
    padding: 10%;
    text-align: center;
    font-size: 24px;
    
}
.OlvidoContrasena{
    top: 10%;
    padding: 1%;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
}
.input-group {
    margin-bottom: 20px;
}
.input-group label {
    display: block;
    font-weight: bold;
}
.login-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.btIniciar {
    position: absolute;
    top: 93%;
    right: 33.5%;
    width: 30%;
    height: 3%;
    padding: 10px;
    background-color: rgb(43, 194, 43);
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}
.btIniciar:hover {
    background-color: rgb(148, 245, 99);
}

.btOlvidoContrasena {    
    background-color: rgb(243, 243, 243);
    color: #000000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}   
.btOlvidoContrasena:hover {
    background-color: rgb(148, 245, 99);
}

.registro{
   
    position: absolute;
    top: 108%;
    right: 33.5%;
    width: 30%;
    height: 3%;
    padding: 10px;
    background-color: rgb(43, 194, 43);
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
}