.nosotros{
    display: flex;
    place-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    
}

.imgLogo{

    position: absolute;
    top: 30%;
    left: 30%;

}

.imgName{
    position: absolute;
    top: 70%;
    left: 33%;
}

.parrafo{
    display: grid;
    position: absolute;
    top: 123%;
   
    justify-items: center;
    padding: auto;
    
}





  