.fondoProducto {

    display: grid;
    grid-template-columns: 1fr;
    background-color: #4CAF50;
    border-radius: 60px;
    margin: 10px;
    transition: transform 0.3s ease;

}

.fondoProducto:hover {
    transform: scale(1.05);
}

.informacionProducto {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    color: #ffffff;
    padding: 5px;
}

.imgproducto{
    max-width: 200px;
    max-height: 440px;

}



.btproducto {
    display: inline-block;
    margin: 20px;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    border: 5px;
    border-radius: 5px;
    background-color: #64db6a;
    color: white;
    max-width: 300px;
    max-height:50px ;
}

.ocultocontacto{
    display: none;
}

.ocultoProducto {
    display: none;
}   
