.imgh {
    max-height: 120px;
    max-width: 130px;
    padding: 20px;
    margin: 5%;
    background-color: #ffffff;
    border-radius: 24px;
}

.head {
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #4CAF50;
    justify-self: center;
}

.imghead {
    transition: transform 0.3s ease;
}

.XL {
    transition: transform 0.3s ease;
    max-height: 120px;
    max-width: 200px;
}

.menu {
    list-style: none;
    padding: 0;
}

.bt {

    display: inline-block;
    border-radius: 24px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s ease;
    min-width: 70px;
    margin: 10px 20px;
}


/*----------------------------------------------------------------------*/

.XL:hover {

    transform: scale(1.3);
    /* Aumenta la escala al pasar el cursor */
}

.imghead:hover {
    transform: scale(1.3);
}

.bt:hover {
    background: palegreen;
    /* Color al pasar el cursor */
    transform: scale(1.1);
    /* Aumenta la escala al pasar el cursor */
}



/*----------------------------------------------------------------------*/
@media (max-width: 800px) {
    .head {
        grid-template-columns: 1fr;
        
    }

    .menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }

    .XL {
        display: none;
    }

}

@media (max-width: 500px) {
    .head {
        grid-template-columns: 1fr;

    }

    .menu {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .XL {
        display: none;
    }



}