.carrito{
    margin: 10px;
}

.productoscarrito{
    display: grid;
    grid-template-columns: 1fr;
    overflow: scroll;
    
}

.productoscarritocatego{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    

}

